* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  background-color: #ffffff;
}

body {
  min-height: 100%;
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff;
  color: #ffffff;
  line-height: 1.6;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

strong {
  font-weight: 700;
}

p, span, li, a {
  font-weight: 400;
}
